<div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-12 nopadding">
                    <section class="top-header">
                        <div class="col-xs-12 col-md-4 no-padding">
                            <div class="menu-toggle">
                                <img src="{{ directory }}/images/toggle-menu.png" alt="">
                            </div>
                            <div class="logo">
                                <img src="{{ directory }}/images/logo.png" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 center-content dow ">
                            <div class="download-app">
                                حمل تطبيق طلبية الان
                            </div>
                            <div class="app-downloaded right">
                                <a href=""><img src="{{ directory }}/images/google-play.png" alt=""></a>
                                <a href=""><img src="{{ directory }}/images/iphone-stor.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 no-padding top-40">
                            <div class="login-arya">
                                <a href="#">تسجيل الدخول</a>
                            </div>
                            <div class="search-arya">
                                <input type="search" placeholder="بحث">
                            </div>
                            <div class="language">
                                <ul>
                                    <li><a href="">EN</a></li>
                                </ul>
                            </div>
                        </div>

                    </section>


                    <div id="about-us">
                        <div class="container">
                            <div class="row">
                                <div class="c-1200">
                                    <div class="col-xs-12 col-md-2 about-us-header">
                                        <h1  class="right">عن طلبية</h1>
                                    </div>
                                    <div class="col-xs-1 split-about">
                                        <span class="split-apout"></span>
                                    </div>

                                    <div class="col-xs-12 col-md-9 about-us-body">
{{ page.header }}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="offers">
                        <div class="container-fluid no-padding">
                            <div class="row">
                                <div class="col-xs-12 col-md-2 no-padding">
                                    <div class="offer-title">
{{ featured }}

                                        <a href="#">
                                            <h1>العروض</h1>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-10">
                                    <div class="offer-items">
                                        <ul>
                                            <li>
                                                <div class="offers-image">
                                                    <img src="{{ directory }}/images/offers1.png" alt="">
                                                </div>
                                                <div class="offers-old-price">
                                                    35.00
                                                </div>
                                                <div class="offers-new-price">
                                                    25.00 JOD
                                                </div>

                                                <div class="offers-add-to-cart-btn">
                                                    <button> اضافة الى السلة</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="offers-image">
                                                    <img src="{{ directory }}/images/offers1.png" alt="">
                                                </div>
                                                <div class="offers-old-price">
                                                    35.00
                                                </div>
                                                <div class="offers-new-price">
                                                    25.00 JOD
                                                </div>

                                                <div class="offers-add-to-cart-btn">
                                                    <button> اضافة الى السلة</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="offers-image">
                                                    <img src="{{ directory }}/images/offers1.png" alt="">
                                                </div>
                                                <div class="offers-old-price">
                                                    35.00
                                                </div>
                                                <div class="offers-new-price">
                                                    25.00 JOD
                                                </div>

                                                <div class="offers-add-to-cart-btn">
                                                    <button> اضافة الى السلة</button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="offers-image">
                                                    <img src="{{ directory }}/images/offers1.png" alt="">
                                                </div>
                                                <div class="offers-old-price">
                                                    35.00
                                                </div>
                                                <div class="offers-new-price">
                                                    25.00 JOD
                                                </div>

                                                <div class="offers-add-to-cart-btn">
                                                    <button> اضافة الى السلة</button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ads">
                        <div class="container-fluid no-padding">
                            <div class="row">
                                <div class="col-xs-12 no-padding">
                                    <div class="ads-one">
                                        <div class="c-1200">
                                            <div class="ads-header"><a href = "">الاعلان الثالث</a></div>  
                                            <div class="ads-body">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في.</div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 no-padding mtop-5">
                                    <div class="col-xs-12 col-md-6 nopadding ">
                                        <div class="ads-one ads-second">
                                            <div class="c-1200">
                                                <div class="ads-header"><a href = "">الاعلان الأول</a></div>  
                                                <div class="ads-body">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في.</div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6 nopadding">
                                        <div class="ads-one ads-third">
                                            <div class="c-1200">
                                                <div class="ads-header"><a href = "">الاعلان الثاني</a></div>  
                                                <div class="ads-body">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في.</div>  
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="categories">
                        <div class="container">
                            <div class="row">
                                <div class="c-1200">
                                    <span class="order-now">اطلب الآن</span>
                                    <div class="col-xs-12 nopadding mtop-5">
                                        <div class="col-xs-12 col-md-6 nopadding">
                                            <div class="category-images category1">
                                                <div class="category-header"><a href = "">العناية بالطفل</a></div>  
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 nopadding">
                                            <div class="category-images category2">
                                                <div class="category-header"><a href = "">الاستحمام</a></div>  
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 nopadding">
                                            <div class="category-images category3">
                                                <div class="category-header"><a href = "">جمال</a></div>  
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 nopadding">
                                            <div class="category-images category4">
                                                <div class="category-header"><a href = "">أدوية</a></div>  
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 nopadding ">
                                            <div class="category-images category5">
                                                <div class="category-header"><a href = "">الشعر</a></div>  
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 nopadding ">
                                            <div class="category-images category6">
                                                <div class="category-header"><a href = "">العروض</a></div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Footer -->
                    <footer class="footer-closure">
                        <div class="container-fluid no-padding">
                            <div class="row">
                                <div class="c-1200">
                                    <div class="footer-first-section ">
                                        <div class="col-md-3 col-xl-5 contact-with-us">
                                            <div class="footer-border">
                                                <span class="tawasalo">تواصلو معنا عبر</span>
                                                <a class="soc-img" href=""> <img class="rounded-circle" src="{{ directory }}/images/instagram.png" alt=""> </a>
                                                <a class="soc-img" href=""><img class="rounded-circle" src="{{ directory }}/images/facebook.png" alt=""> </a>
                                                <a class="soc-img" href=""><img class="rounded-circle" src="{{ directory }}/images/twitter.png" alt=""> </a>
                                            </div>

                                        </div>

                                        <div class="col-md-3 col-xl-5">
                                            <div> هنالك حقيقة مثبتة منذ الاف السنين</div>
                                            <div> info@ta;abieh.com</div>
                                            <div> 96277777777</div>
                                        </div>

                                        <div class="col-md-3 col-xl-5">
                                            <span> هنالك حقيقة مثبتة منذ الاف السنينa</span>
                                        </div>
                                        <div class="col-md-3 col-xl-5 my-points">

                                            <span>نقاطي</span>
                                            <span>-87-</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid no-padding">
                            <div class="row">
                                <div class="col-xs-12 footer-copyright text-center">
                                    <span class="rights-reserved">Developed by Blue Ray for web solutions All rights reserved 2017 ©</span>
                                </div>
                            </div>
                            <div>
                                </footer>
                            </div>
                        </div>
                </div>