@font-face {
    font-family: 'JFR1';
    src: url('../fonts/ArbFONTS-JF-Flat-regular.eot');
    src: url('../fonts/ArbFONTS-JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArbFONTS-JF-Flat-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'JFR2';
    src: url('../fonts/JFFlat-Regular.svg#JFFlat-Regular') format('svg'),
         url('../fonts/JFFlat-Regular.ttf') format('truetype'),
         url('../fonts/JFFlat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  

  @font-face {
     font-family: 'RPT1';
     src: url('../fonts/arbfonts-rpt-Regular.eot');
     src: url('../fonts/arbfonts-rpt-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/arbfonts-rpt-Regular.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'RPT2';
     src: url('../fonts/rpt-Regular.svg#rpt-Regular') format('svg'),
          url('../fonts/rpt-Regular.ttf') format('truetype'),
          url('../fonts/rpt-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
   }
   
  